<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\Packages" />
  </config>
  <packageSources>
    <clear />
    <add key="security-attestation-Consumption" value="https://msazure.pkgs.visualstudio.com/one/_packaging/security-attestation-Consumption/nuget/v3/index.json" />
  </packageSources>
</configuration>
