<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="rmt_curl" version="7.51.0" targetFramework="native" />
  <package id="rmt_libssh2" version="1.8.0" targetFramework="native" />
  <package id="rmt_openssl" version="1.1.0.3" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.7" targetFramework="native" />
</packages>