<configuration>
    <packageSources>
        <add key="Toolset" value="https://msazure.pkgs.visualstudio.com/_packaging/Toolset/nuget/v3/index.json" />
        <add key="Nuget" value="https://msazure.pkgs.visualstudio.com/_packaging/NugetMirror/nuget/v3/index.json" />
        <add key="MSNuget" value="https://msazure.pkgs.visualstudio.com/_packaging/MSNugetMirror/nuget/v3/index.json" />
        <add key="OSS" value="https://msazure.pkgs.visualstudio.com/_packaging/OSS/nuget/v3/index.json" />
        <add key="OSS_All" value="https://ossmsft.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS_All/nuget/index.json" />
        <add key="Official" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
        <add key="CoreXT" value="https://msazure.pkgs.visualstudio.com/_packaging/CoreXTMirror/nuget/v3/index.json" />
        <add key="Manual" value="https://msazure.pkgs.visualstudio.com/_packaging/ManualMirror/nuget/v3/index.json" />
        <add key="Open-Enclave" value="https://msazure.pkgs.visualstudio.com/_packaging/Azure-Compute-OpenEnclave/nuget/v3/index.json" />
        <add key="Azure-Attestation-Temp-OE-WinSupport" value="https://msazure.pkgs.visualstudio.com/One/_packaging/Azure-Attestation-Temp-OE-WinSupport/nuget/v3/index.json" />
    </packageSources>
</configuration>