# This is a basic workflow to help you get started with Actions

name: Build and test

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events but only for the "master" branch
  pull_request:
    branches: [ "master" ]
    
permissions:
  id-token: write
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

            

  # Test DCAP build process in Windows
  DCAPWindowsBuildTest:          
    strategy:
      # Launch a VM and build once per each buildType
      # Since we only have one persistent VM to perform the windows jobs, max-parallel should always be one. 
      max-parallel: 1
      matrix:
        buildType: [Release, Debug]
            
    # OS of the Github VM calling Azure CLI
    runs-on: ubuntu-latest
    
    # Job environment variables
    env:
      os: windows
      #Windows VM name must be within 15 characters
      vmName: winBuildPers
      rgName: dcap-github-actions-agents-rg
      location: northeurope
      branchName: ${{ github.head_ref }}

      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            
      - name: Start VM
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az vm start \
              --resource-group $rgName \
              --name $vmName 
              
      - name: Sleep to let the VM start
        run: sleep 60

      - name: Clean up the previous execution
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az vm run-command create \
              --resource-group $rgName \
              --vm-name $vmName \
              --location $location \
              --name "cleanPreviousRunData" \
              --script "C:/dcapBuild/CleanPreviousClonedRepo.ps1"

      - name: Get the result of cleaning the old repository
        shell: bash
        run: |
            result=$(az vm run-command show --resource-group $rgName --vm-name $vmName --name "cleanPreviousRunData" --instance-view)
            echo -e "$result"
            if [[ "$result" == *"Old_DCAP_Build_Step_Successfully_Cleaned"* ]]; then echo "Step successfully executed"; else exit 1; fi
      
     